@import "../../styles/colors";
@import "../../styles/breakpoints";
@import "../../styles/utilities";

.small-card {
  display: flex;
  align-items: center;
  margin: 0.5rem;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 200ms;
  transition-timing-function: ease-out;

  @include space-x(1rem);

  &:hover {
    background-color: color(gray, 100);
    transform: scale(1.05);
  }

  &-img {
    position: relative;
    height: 4rem;
    width: 4rem;

    img {
      border-radius: 0.5rem;
    }
  }

  h3 {
    color: color(gray, 500);
  }
}
