@import "./index";

.small-cards {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));

  @include sm {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include md {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include lg {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @include xl {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
  @include xl-2 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}

.medium-cards {
  display: flex;
  overflow: scroll;
  padding: 0.75rem;
  margin-left: -0.75rem;

  @include hideScrollbar;
  @include space-x(0.875rem);
}
