@import "../../styles/index";

.large-card {
  position: relative;
  padding: 4rem 0;
  cursor: pointer;

  &-img {
    position: relative;
    height: 24rem;
    min-width: 18.75rem;

    img {
      border-radius: 1rem;
    }
  }

  &-description {
    position: absolute;
    top: 8rem;
    left: 3rem;

    h3 {
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin-bottom: 0.75rem;
      width: 16rem;
    }

    button {
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: #fff;
      background-color: color(gray, 900);
      padding: 0.5rem 1rem;
      margin-top: 1.25rem;
      border-radius: 0.5rem;
      cursor: pointer;
    }
  }
}
